In [10]:
# importing libraries 
import pandas as pd 
import numpy as np

In [11]:
# create data frame by using movies_2.csv file 
movie_df= pd.read_csv('movies_2.csv')

In [12]:
movie_df.shape # returns us the number of rows and columns

(616, 11)

In [13]:
movie_df.info() # shows the number of rows and number of columns with information about every columns such as(datatype, non-null values, number of entries)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [14]:
movie_df.isna().sum() # returns sum of the null value for every columns

MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64

In [15]:
movie_df.duplicated().sum() # returns us sum of the duplicated values

0

In [16]:
movie_df['MovieID'].is_unique # returns True if movieID column has unique values

True

In [17]:
movie_df = movie_df.set_index('MovieID') # set movieID  as dataframe index
movie_df.head(2) # returns only two rows

,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
MovieID,,,,,,,,,,
1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...

In [18]:
# movie_df = movie_df.fillna(0) --- one way to fill nan values in a dataframe 
#movie_df['Budget'].replace([np.nan], movie_df['Budget'].mean(), inplace=True) # this method replace nan value with mean of specific column
#movie_df['Budget'].isna().sum()

In [19]:
#movie_df['Rating'].replace([np.nan],movie_df['Rating'].mode(), inplace= True) # replace nan value with mode value in a specific column
#movie_df['Rating'].isna().sum()

In [20]:
#movie_df['Rating Count'].replace([np.nan],movie_df['Rating Count'].median(), inplace= True)
#movie_df['Rating Count'].isna().sum()

In [21]:
# Fill Missing Data With interpolate()
#The interpolate() function uses existing values in the DataFrame to estimate the missing rows. Setting the inplace keyword to True alters the DataFrame permanently.
#movie_df.interpolate(method ='linear', limit_direction ='backward', inplace=True)
#movie_df.interpolate(method='linear', limit_direction='forward', inplace= True)
#movie_df['Rating Count'].interpolate()
movie_df = movie_df.fillna(0)
movie_df

,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
MovieID,,,,,,,,,,
1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."
...,...,...,...,...,...,...,...,...,...,...
612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,0.0,0.0,0
613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,0.0,0.0,0
614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,0.0,0.0,0
615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,0.0,0.0,0
0,0,0,0.0,0.000000e+00,0,0,0.0,0.0,0.0,0